@font-face {
    font-family: 'NorseBold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.image-sidebar {
    background-image: url(./images/ferns.jpg);
    background-size: cover;
    flex-basis: 35vw;
    position: relative;
}

.logo-section {
    position: absolute;
    top: 30vh;
    background-color: rgba(18, 26, 19, 0.5);
    color: #eee;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.odin-logo {
    width: 6rem;
    height: 7rem;
}

.logo-section h2 {
    align-self: center;
    font-family: 'NorseBold', sans-serif;
    font-size: 3.5rem;
    margin: 0;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
}

.sidebar-footer p {
    position: absolute;
    bottom: 0;
    color: rgb(228, 223, 223);
}

.sidebar-footer a {
    color: rgb(228, 223, 223);
}

.form-side {
    width: 60vw;
}
